@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

.herosection{ 
    display: flex; 
    padding: 50px 110px; 
} 
.left-section{ 
    margin-top: 50px;
} 
.left-section h1{ 
    font-family: 'Manrope', sans-serif;
    font-weight:bold; 
    margin-bottom: 10px; 
    font-size: 45px;
}   
.left-section p{ 
    font-family: 'Manrope', sans-serif; 
    margin: 20px 0px; 
    text-align: start;
}
.left-section span{ 
    color: #0051ff;
} 
.left-section button{ 
    padding: 15px 20px; 
    background-color: #0066ff; 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    font-size: 15px;
} 
@media screen and (max-width:570px) {
    .herosection{ 
        display: inline-block; 
        padding: 10px 10px; 
    }  
    .hero-ani
    {
        width: 300px !important; 
        height: 400px !important;
    } 
    .left-section p{ 
        display: none; 
       
    }
}